In [ ]:
L1=[1,4,2,13]

L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("data setelah ditambahkan elemennya: ", L1)

L1.remove(2+3j)
print('data setelah dihapus elemenanya: ', L1)

data setelah ditambahkan elemennya:  [1, 'dua', True, (2+3j), 20]
data setelah dihapus elemenanya:  [1, 'dua', True, 20]

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.extend('ape12')
print(L1)

[1, 'dua', True, (2+3j), 'a', 'p', 'e', '1', '2']

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.insert(2,"dddddddd")
print(L1)

[1, 'dua', 'dddddddd', True, (2+3j)]

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

['dua', True, (2+3j)]

In [ ]:
A=[1,3,'Frenky','mangga',7]
print(A)

A.extend(['ape12'])
print(A)

A.insert(3,'apel')
print(A)

A.pop()
print(A)

A.extend('ape12')
print(A)

A.remove('Frenky')
print(A)

[1, 3, 'Frenky', 'mangga', 7]
[1, 3, 'Frenky', 'mangga', 7, 'ape12']
[1, 3, 'Frenky', 'apel', 'mangga', 7, 'ape12']
[1, 3, 'Frenky', 'apel', 'mangga', 7]
[1, 3, 'Frenky', 'apel', 'mangga', 7, 'a', 'p', 'e', '1', '2']
[1, 3, 'apel', 'mangga', 7, 'a', 'p', 'e', '1', '2']

In [1]:
#contoh tuple
T1 = (1,'dua', True, 1+2j)
print('ini adalah tuple',T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
type(T1)

tuple

In [3]:
T1[0:3]

(1, 'dua', True)

In [4]:
print('elemen ketiga adalah: ',T1[3])

elemen ketiga adalah:  (1+2j)

In [5]:
T2 = (3, 2.4, True, 2.3)
T2

(3, 2.4, True, 2.3)

In [7]:
T1
print(f'  tuple\t: {T1}')

  tuple	: (1, 'dua', True, (1+2j))

In [11]:
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.3)

In [15]:
B1 = (3, 4.2, 'tiga', 8.9)
B1

(3, 4.2, 'tiga', 8.9)

In [16]:
B2 = (4, 'enam', False)
B2

(4, 'enam', False)

In [17]:
B3 = B2+B1
B3

(4, 'enam', False, 3, 4.2, 'tiga', 8.9)